<!DOCTYPE html>
<html>
  <head>
    <title>Project3Sample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  </head>

  <body>

    <div class="container">
    <% if notice %>
      <!-- show the notice -->
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <!-- show the alert -->
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

    <div class="container">
        <%= render "partials/navbar" %>
        <h1>This is the <%= yield :title %></h1>
        <%= yield %>
        <%= render "partials/footer" %>
    </div>


  </body>
</html>
